body{
    margin: 0;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;


}

.container{
    width: 370px;
    height: 550px;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
    
}
img{
    height: 550px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


